# This is Git's per-user configuration file.
[user]
	name = Sourajyoti Basak
	email = basak.sb2006@gmail.com
# Please adapt and uncomment the following lines:
#	name = Sourajyoti Basak
#	email = Wizard28082006@gmail.com
[http]
	postBuffer = 524288000
