[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=ConvertToMP4;ConvertToAVI;ConvertToMOV;ConvertToMKV;ConvertToWMV;ConvertToFLV;ConvertToMPG;ConvertToMP3;ConvertToOGV;ConvertToWebM;
X-KDE-Submenu=Convert Video
Icon=video-x-generic
X-KDE-StartupNotify=false

[Desktop Action ConvertToMP4]
Name=Convert to MP4
Exec=~/.local/bin/ffmpegconvert.sh %U mp4 video
Icon=video-mp4

[Desktop Action ConvertToAVI]
Name=Convert to AVI
Exec=~/.local/bin/ffmpegconvert.sh %U avi video
Icon=video-x-msvideo

[Desktop Action ConvertToMOV]
Name=Convert to MOV
Exec=~/.local/bin/ffmpegconvert.sh %U mov video
Icon=video-quicktime

[Desktop Action ConvertToMKV]
Name=Convert to MKV
Exec=~/.local/bin/ffmpegconvert.sh %U mkv video
Icon=video-x-matroska

[Desktop Action ConvertToWMV]
Name=Convert to WMV
Exec=~/.local/bin/ffmpegconvert.sh %U wmv video
Icon=video-x-ms-wmv

[Desktop Action ConvertToFLV]
Name=Convert to FLV
Exec=~/.local/bin/ffmpegconvert.sh %U flv video
Icon=video-x-flv

[Desktop Action ConvertToMPG]
Name=Convert to MPG
Exec=~/.local/bin/ffmpegconvert.sh %U mpg video
Icon=video-x-mpeg

[Desktop Action ConvertToOGV]
Name=Convert to OGV
Exec=~/.local/bin/ffmpegconvert.sh %U ogv video
Icon=video-x-theora+ogg

[Desktop Action ConvertToWebM]
Name=Convert to WebM
Exec=~/.local/bin/ffmpegconvert.sh %U webm video
Icon=video-webm

[Desktop Action ConvertToMP3]
Name=Convert to MP3
Exec=~/.local/bin/ffmpegconvert.sh %U mp3 video
Icon=audio-mp3
